body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  width: 100%;
}
.container {
  width: 375px;
  height: 670px;
  margin: auto;
  padding: 15px 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.7);
}
